name: Super-Linter

on: push

permissions:
  contents: read
  statuses: write

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Make scripts executable
        run: chmod +x backend/wait-for-db.sh

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_MARKDOWN: "false"
          VALIDATE_HTML: "false"
          VALIDATE_JAVASCRIPT_STANDARD: "false"
          VALIDATE_JSCPD: "true"
          JSCPD_THRESHOLD: 20
